.admin-container{
    width: 88%;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.add-tips{
    margin: 20px 0px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 90px;
    width: 88%;
}
.date{
    margin: 10px 25px 20px -200px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #30b4ff;
    margin-left: 10px;
}
.section-des{
    border-radius: 5px;
}
.section-des:focus{
    border-color: #9900ff;
}
.tips-add:focus{
    border-color: #9900ff;

}
.add-tips input:focus{
    border-color: #0000ff;
}
.date:focus{
    border-color: #9900ff;
}
.btns{
    padding: 8px 16px;
    border: none;
    margin-left: 20px;
}
.tips-container{

    text-align: left;
    margin-left: 50px;
}
.tipadmin{
    text-align: justify;
}
textarea{
    padding: 5px;
}
.btns1{
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .admin-container{
        margin-left: 60px;
    }
   
    .dropdown{
        margin: 0px auto;
    }
    .tips-container{
        margin-left: 75px;
    }
    textarea{
        height: 200px;

    }
     textarea:focus {
        border-color: #9900ff;
    }
    .add-tips{
        margin-left: 25px;
    }
    
}

.section-des{
    padding: 6px;
}